.carte{
    box-sizing: border-box;
    position: relative;
    width: 90%;
    max-width: 43rem;
    height: 18rem;
    margin: 0 5% 8% 5%;
    padding: 0;
    border-radius: 2rem 2rem;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-size: 1rem;
    @media screen and (min-width:500px) {
        height: 22rem;
    }
    @media screen and (min-width:1150px) {
        margin: 2.5rem auto;
        width: 32rem;
    }
    &:hover{
        box-shadow: 0 0 1.5rem #9356dc;
    }
    &:any-link{
        text-decoration: none;
        color: black;
        font-weight: normal;
    }
    &__photo{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 70%;
        margin: 0 0 4% 0;
        padding: 0;
        border-top-left-radius: 2rem 2rem;
        border-top-right-radius: 2rem 2rem;
        @media screen and (min-width:500px) {
            height: 75%;
        }
        &__nouveau{
            box-sizing: border-box;
            position: absolute;
            width: 25%;
            min-width: 5.5rem;
            max-width: 9rem;
            height: 12%;
            min-height: 2rem;
            max-width: 4rem;
            top: 10%;
            right: 4%;
            padding: 1.8% 2% 1.5% 2%;
            background-color: hsl(165,56%,74%);
            color: hsl(165,56%,34%);
            font-weight: bold;
            text-align: center;
            @media screen and (min-width:500px) {
                height: 12%;
                padding: 1% 1.5% 1% 1.5%;
            }
        }
        &--1{
            background-image: url(../public/img/restaurants/LaPaletteDuGout.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media screen and (min-width:430px) {
                background-position: top 20% left 0%;
            }
            @media screen and (min-width:600px) {
                background-position: top 30% left 0%;
            }
            @media screen and (min-width:700px) {
                background-position: top 40% left 0%;
            }
        }
        &--2{
            background-image: url(../public/img/restaurants/LaNoteEnchantee.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top 55% left 0%;
            @media screen and (min-width:380px) {
                background-position: top 60% left 0%;
            }
            @media screen and (min-width:400px) {
                background-position: top 62% left 0%;
            }
            @media screen and (min-width:500px) {
                background-position: top 58% left 0%;
            }
        }
        &--3{
            background-image: url(../public/img/restaurants/LaFrancaise.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top 60% left 35%;
            @media screen and (min-width:400px) {
                background-position: top 90% left 25%;
            }
        }
        &--4{
            background-image: url(../public/img/restaurants/LeDeliceDesSens.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top 80% left 0%;
        }
    }
    &__nom{
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 12.5%;
        padding: 0;
        margin: 2% 2% 0 5%;
        font-size: 1.2rem;
        @media screen and (min-width:500px) {
            margin: -1% 2% 1% 5%;
            height: 10%;
            font-size: 1.4rem;
        }
        &__texte{
            box-sizing: border-box;
            position: absolute;
            top: 0%;
            left:0%;
            width: 70%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }
        &__coeur{
            box-sizing: border-box;
            position: absolute;
            top: 0%;
            left: 80%;
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            padding: 0;
            margin: 0;
            @media screen and (min-width:400px) {
                width: 2.25rem;
                height: 2.25rem;
                font-size: 2.25rem;
            }
            @media screen and (min-width:500px) {
                width: 2.75rem;
                height: 2.75rem;
                font-size: 2.75rem;
            }
            @media screen and (min-width:900px) {
                width: 3rem;
                height: 3rem;
                font-size: 3rem;
            }
            i:nth-child(1){
                box-sizing: border-box;
                position: absolute;
                top: 0%;
                left: 0%;
                color: #000;
                opacity: 1;
                transition: all ease 600ms;
            }
            i:nth-child(2){
                box-sizing: border-box;
                position: absolute;
                top: 0%;
                left: 0%;
                background: -webkit-linear-gradient(45deg,#FF79DA, #9356DC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: all ease 600ms;
            }
            &:hover i:nth-child(1){
                opacity:0 ;
            }
            &:hover i:nth-child(2){
                opacity:1 ;
            }
        }
    }
    &__lieu{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 15%;
        padding: 0;
        margin: -2% 2% 1% 5%;
        font-size: 1.1rem;
        @media screen and (min-width:500px) {
            height: 12.5%;
            font-size: 1.3rem;
        }
    }
}