.loadingspinner{
    box-sizing: border-box;
    position: fixed;
    display: block;
    visibility: hidden;
    z-index: 100;
    top: 25%;
    left: 45%;
    width: 15%;
    height: 15%;
    border-radius: 50% 50% ;
    background: linear-gradient(90deg,#9356DC,#FF79DA,#99E2D0);
    animation: Chargement 3s linear 0s 1 normal backwards;
}
