@font-face{
    font-family: 'Roboto';
    src: url('../../Public/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Shrikhand';
    src: url('../../Public/fonts/Shrikhand-Regular.ttf') format('truetype');
}