@font-face{
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');

}
@font-face{
    font-family:'Shrikhand';
    src: url('../public/fonts/Shrikhand-Regular.ttf') format('truetype');
}