//Apparition du menu
.menu{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 320px;
    max-width: 1150px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto';
    .souligne{
        text-decoration: underline 4px solid #99E2D0;
        @media screen and (min-width:550px) {
            text-decoration: underline 6px solid #99E2D0;
        }
        @media screen and (min-width:800px) {
            text-decoration: underline 8px solid #99E2D0;
        }

    }
    &__header{
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 0.7rem;
        background-color: white;
        &__iconeRetour{
            box-sizing: border-box;
            width: 8%;
            height: 2.5rem;
            margin: 3% 0 0 2.5%;
            background-image: url(../../public/img/icones/FlecheGauche.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top 50%;
            @media screen and (min-width:400px) {
                margin: 2.6% 0 0 3%;
            }
            @media screen and (min-width:500px) {
                margin: 2.2% 0 0 3%;
            }
            @media screen and (min-width:600px) {
                margin: 2% 0 0 3%;
            }
            @media screen and (min-width:800px) {
                height: 3rem;
                margin: 1.7% 0 0 3%;
            }
            @media screen and (min-width:900px) {
                height: 3rem;
                margin: 1.4% 0 0 3%;
            }
            @media screen and (min-width:1000px) {
                height: 3.2rem;
                margin: 1.2% 0 0 3%;
            }


        }
        &__logo{
            box-sizing: border-box;
            position: relative;
            width: 69%;
            height: 2.5rem;
            margin: 0 10% 0 10% ;
            padding-top: 0.3rem;
            font-family: 'Shrikhand';
            font-size: 2rem;
            text-align: center;
            @media screen and (min-width:400px) {
                font-size: 2.25rem;
                padding-top: 0.3rem;
            }
            @media screen and (min-width:500px) {
                font-size: 2.5rem;
                margin: 0 10% 0 5% ;
                padding-bottom: 3rem;
                padding-top: 0;
            }
            @media screen and (min-width:600px) {
                font-size: 2.75rem;
                margin: 0 10% 0 5% ;
                padding-bottom: 3.5rem;
                padding-top: 0;
            }
            @media screen and (min-width:700px) {
                font-size: 3rem;
                margin: 0 10% 0 5% ;
                padding-bottom: 4rem;
                padding-top: 0;
            }
            @media screen and (min-width:800px) {
                font-size: 3.25rem;
                margin: 0 10% 0 5% ;
                padding-bottom: 4rem;
                padding-top: 0;

            }
        }
        &__photo{
            &--1{
                position: relative;
                width: 100%;
                height: 15rem;
                margin-top: 1rem;
                padding: 0;    
                background-image: url(../../public/img/restaurants/LaPaletteDuGout.jpg);
                background-clip: border-box;
                background-repeat: no-repeat;
                background-size: cover;
                @media screen and (max-width:400px) {
                    background-position: left 0% top 40%;
                }
                @media screen and (max-width:500px) {
                    background-position: left 0% top 70%;
                }
                @media screen and (max-width:600px) {
                    background-position: left 25% top 40%;
                }
                @media screen and (max-width:700px) {
                    background-position: left 0% top 60%;
                }
                @media screen and (max-width:800px) {
                    background-position: left 0% top 40%;
                }
                @media screen and (max-width:900) {
                    background-position: left 0% top 25%;
                }
                @media screen and (max-width:1000px) {
                    background-position: left 0% top 60%;
                }
                @media screen and (min-width:1000px) {
                    background-position: left 0% top 62%;
                }        
            }
        }
    }
    &__titre{
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background-color:rgb(235, 235, 235);
        margin: 0;
        padding: 10% 0;
        top: -3rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        @media screen and (min-width:750px) {
            top: -2rem;
        }
        h2{
           @include styleTitrePrincipal;
        }
        .coeur{
            background-image: url(../../public/img/icones/CoeurVide.svg);
            background-repeat: no-repeat;
            background-size: cover;
            @include tailleCoeur;
        }
    }
    &__entrees{
        @include partieMenu(-3.8rem,rgb(235, 235, 235));
        h3{
            @include styleTitreSecondaire;
            @include appartionTitresMenu(0s);
        }
    }
    &__plats{
        @include partieMenu(-3.8rem,rgb(235, 235, 235));
        h3{
            @include styleTitreSecondaire;
            @include appartionTitresMenu(2s);
        }    
    }
    &__desserts{
        @include partieMenu(-3.8rem,rgb(235, 235, 235));
        h3{
            @include styleTitreSecondaire;
            @include appartionTitresMenu(4s);
        }
    }
    &__commande{
        @include partieMenu(-2.6rem,rgb(235, 235, 235));
        .bouton{
            position: relative;
            width: 50%;
            height: 2.5rem;
            margin: auto 25%;
            padding-top: 0.8rem;
            background: linear-gradient(135deg,hsl(317,100%,74%),hsl(267,66%,60%)90%);
            border-radius: 2rem 2rem;
            box-shadow: 0 0 0.6rem rgb(150,150,150);
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            color: white;
            @media screen and (min-width:600px) {
                height: 3.5rem;
                padding-top: 1rem;
                font-size: 2rem;
            }
            @media screen and (min-width:800px) {
                height: 4rem;
                padding-top: 0.8rem;
                font-size: 2.5rem;
            }
            @media screen and (min-width:900px) {
                width: 45%;
                margin: auto 27.5%;
            }
            @media screen and (min-width:1000px) {
                width: 40%;
                margin: auto 30%;
            }
            @media screen and (min-width:1100px) {
                width: 38%;
                margin: auto 31%;
            }
            &:hover{
                background: linear-gradient(135deg,hsl(317,100%,78%),hsl(267,66%,75%)90%);
                box-shadow: 0 0 1.2rem rgb(150,150,150);
                cursor: pointer;
            }
        }
    }
    &__footer{
        @include partieMenu(0,white);
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
        background-color: rgb(41,53,66);
        &__navigation{
            box-sizing: border-box;
            position: relative;
            width: 100%;
            ul{
                position: relative;
                li{
                    position: relative;
                    list-style-type: none;
                    font-size: 1rem;
                    display: list-item;
                    margin: 0.25rem 0 0.25rem 0;
                    @media screen and (min-width:800px) {
                        font-size: 1.2rem;
                    }        
                    &:nth-child(1):before{
                        content: "";
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        @media screen and (min-width:800px) {
                            width: 1.2rem;
                            height: 1.2rem;
                        }        
                        background: url('../../public/img/icones/Couverts.svg');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        margin-right: 0.7rem;
                    }
                    &:nth-child(2):before{
                        content: "";
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        @media screen and (min-width:800px) {
                            width: 1.2rem;
                            height: 1.2rem;
                        }        
                        transform: rotate(-45deg);
                        background: url('../../public/img/icones/PoigneeMain.svg');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: bottom 50%;
                        margin-right: 0.7rem;
                    }
                }
            }
        } 
    }
}
.item{
    &--1{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 0.5s 1 normal backwards;
    }
    &--2{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 1s 1 normal backwards;
    }
    &--3{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 1.5s 1 normal backwards;
    }
    &--4{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 2.5s 1 normal backwards;
    }
    &--5{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 3s 1 normal backwards;
    }
    &--6{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 3.5s 1 normal backwards;
    }
    &--7{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 4.5s 1 normal backwards;
    }
    &--8{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 5s 1 normal backwards;
    }
    &--9{
        transform-origin: bottom center;
        animation: Deroulement 0.5s linear 5.5s 1 normal backwards;
    }
}